<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BakingStore</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uom">
                <span class="oi oi-plus" aria-hidden="true"></span> UOM
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uomconversion">
                <span class="oi oi-plus" aria-hidden="true"></span> UOM Conversion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredient">
                <span class="oi oi-plus" aria-hidden="true"></span> Ingredient
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="topping">
                <span class="oi oi-plus" aria-hidden="true"></span> Topping
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="baserecipe">
                <span class="oi oi-plus" aria-hidden="true"></span> Recipes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doughing">
                <span class="oi oi-plus" aria-hidden="true"></span> Doughing Adjusment
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
